/* app css stylesheet */

.headings
{
    font-weight: bold;
}
.subheadings
{
    padding-left: 10px;
}
body
{
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.customContainer
{
    min-height: 600px;
}
#footer
{
    background-color: #f5f5f5;
}
.credit
{
    margin: 20px 0;
}

.gridStyle {
    /*border: 1px solid rgb(212,212,212);*/
    width: 100%; 
    height: 300px
}

th.link { width: 80px;}
td.link { text-align: center;}

.name
{
    font-weight: bold;
}
img.avatar
{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid 1px #666666;
}
#userList li p
{
    float: left;
}
#userList {
    margin-bottom: 30px;
    list-style: none;
}
#userList li
{
    clear: both;
}

   

