<h1>A simple Chart.js wrapper for Angular</h1>
<div class="row-fluid">
  <div class="span6" style="margin:40px 0;">	
  	<canvas linechart options="options" data="chart[0]" id="lineChart" width="500" height="300"></canvas>
  </div>
  <div class="span6" style="margin:40px 0;">	
  	<canvas barchart options="options" data="chart[1]" id="barChart" width="500" height="300"></canvas>
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="margin:40px 0;">	
  	<canvas radarchart options="options" data="chart[2]" id="radarChart" width="500" height="300"></canvas>
  </div>
  <div class="span6" style="margin:40px 0;">	
  	<canvas polarchart options="options" data="chart[3]" id="bar2Chart" width="500" height="300"></canvas>
  </div>
</div>